body {
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 960px;;
    margin: 0 auto;
}

.top-line {
    height: 5px;
}

.filled {
    background-color: #7e7e7e;
}

.main {
    background-image: url("../img/noize.png");
    padding: 25px 0;
}

.logo {
    float: left;
}

.search {
    float: right;
    font-size: 0;
}

.search input[type=search] {
    height: 32px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #b2b2b2;
}
.search input[type=submit] {
    border: none;
    height: 32px;
    background-color: #29c5e6;
    color: #fff;
    font-size: 14px;
    border: 1px solid #29c5e6;
}

.clear {
    clear: both;
}
.menu {
    background-color: #f3f3f3;
    text-align: center;
    width: 100%;
    border: 1px solid #e7e7e7;
    margin-top: 27px;
}

.menu li {
    display: inline-block;
    padding: 12px 25px;
}

.menu li.active {
    background-color: #29c5e6;
}

.menu li:hover {
    background-color: #29c5e6;
}

.menu li.active a, .menu li:hover a{
    color: #fff;
}

.menu li a {
    text-decoration: none;
    font-size: 14px;
    color: #b2b2b2;
    text-transform: uppercase;
}

.banner {
    position: relative;
    padding-bottom: 35px;
}

.banner-content {
    height: 280px;
    background-color: #e2e2e2;
    padding: 40px;
}

.banner-content h2 {
    line-height: 50px;
    font-size: 42px;
    color: #5a5a5a;
    font-weight: 300;
}

.banner-content h3 {
    font-size: 20px;
    color: #acacac;
    font-weight: 300;
}

.banner-content {
    font-size: 0;
}

input[type="radio"] {
    display: none;
}

label {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    padding: 9px 0;
    padding-left: 30px;
    bottom: 0;
}

label:before {
    content: "1";
    padding: 6px 10px;
    background-color: #29c5e6;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
}

input[type=radio]:checked + label {
    color: #29c5e6 ;
}

input[type=radio]:not(:checked) + label + .banner-content {
    display: none;
}

input[type=radio]:checked + label + .banner-content {
    display: block;
}

#first + label {
    left: 0;
}

#second + label {
    left: 25%;
}

#third + label {
    left: 50%;
}

#fourth + label {
    left: 75%;
}