body {
	border-top: 5px solid #7e7e7e;
	/*background-image: url(../img/bg.png);*/
	font-family: 'Oswald', sans-serif;

}

.clear {
	clear: both;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.top-bar {
	padding: 25px 0 20px 0;
}

.top-bar .logo {
	float: left;
}

.top-bar .search {
	float: right;
}

.top-bar .search input[type=text] {
	box-sizing: border-box;
	height: 33px;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 0 10px;
}

.top-bar .search button {
    box-sizing: border-box;
    background-color: #29c5e6;
    border: none;
    height: 33px;
    color: #fff;
}

.top-bar .search button:hover {
	background-color: #f3f3f3;
	color: #000;

}

.nav ul {
	display: table;
	width: 100%;
	background-color: #f3f3f3;
}

.nav ul li {
	display: table-cell;
}

.nav ul li a {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #b2b2b2;
} 

.nav ul li a:hover {
	color: #fff;
	background-color: #29c5e6;
}